.header{
    min-width: 100vw;
    min-height: 100vh;
    position: fixed;
    top: 0em;
    background-color:   #282c34;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    z-index: 1;


}

.header h1{
    /* width: 11em; */
    font-family: 'Lora', serif;
    font-weight: 100;
    margin-left: 0.4em;
    font-size:1.7em;
}

/* .header_items {
    display: flex;
    flex-direction: row;
    align-items: center;
} */
