@font-face {
  font-family:'Lora', serif;
  font-style: normal;
  font-weight: 100;
  src: url('./Fonts/Lora\ regular.ttf');
  src: local('serif'), url('./Fonts/Lora\ regular.ttf') format('woff2');
}
body {
  margin: 0em;
  font-family:'Lora', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
